@{
    ViewData["Title"] = "Predictions";
}

@model CrashModel

@*‘WORK_ZONE_RELATED’, ‘PEDESTRIAN_INVOLVED’,
    ‘BICYCLIST_INVOLVED’, ‘MOTORCYCLE_INVOLVED’, ‘IMPROPER_RESTRAINT’,
    ‘UNRESTRAINED’, ‘DUI’, ‘INTERSECTION_RELATED’, ‘WILD_ANIMAL_RELATED’,
    ‘DOMESTIC_ANIMAL_RELATED’, ‘OVERTURN_ROLLOVER’,
    ‘COMMERCIAL_MOTOR_VEH_INVOLVED’, ‘TEENAGE_DRIVER_INVOLVED’,
    ‘OLDER_DRIVER_INVOLVED’, ‘NIGHT_DARK_CONDITION’, ‘SINGLE_VEHICLE’,
    ‘DISTRACTED_DRIVING’, ‘DROWSY_DRIVING’, ’ROADWAY_DEPARTURE*@

<h1>Crash Severity Predictor <div style="border-radius:5px;" class="card float-right m-2 p-2"><h6 p-2">Key:<br /> 1 = Minor Damages <br />5 = Resulted in Death</h6></div></h1>

<form method="post" style="border-radius:10px;" class="card text-center container shadow p-3 mb-5 bg-white rounded">
    @*<div asp-validation-summary="All"></div>*@
    <h3>Select all that apply</h3>
    <h3>Crash Severity Score: @Math.Round(@ViewBag.Prediction.PredictedValue)</h3>
    <div class="row">
        <div style="border-radius:15px;" class="col align-bottom bg-dark bg-gradient p-3 m-2 text-white">
            <label asp-for="HOUR"><b> Hour: </b></label><br />
            <input asp-for="HOUR" type="number" />
        </div>
        <div style="border-radius:15px;" class="col align-bottom bg-dark bg-gradient p-3 m-2 text-white">
            <label asp-for="WEEKDAY"><b> Weekday: </b></label><br />
            <input asp-for="WEEKDAY" type="number" />
        </div>
        <div style="border-radius:15px;" class="col align-bottom bg-dark bg-gradient p-3 m-2 text-white">
            <label asp-for="MONTH"><b> Month:</b></label><br />
            <input asp-for="MONTH" type="number" />
        </div>
        <div style="border-radius:15px;" class="col align-bottom bg-dark bg-gradient p-3 m-2 text-white">
            <label asp-for="MILEPOINT"><b> Milepoint:</b></label><br />
            <input asp-for="MILEPOINT" type="number" />
        </div>
    </div>
    <div class="row">
        <div style="border-radius:15px;" class="col align-bottom bg-dark bg-gradient p-3 m-2 text-white">
            <label asp-for="CITY_ID"><b> City_ID:</b></label><br />
            <input asp-for="CITY_ID" type="number" />
        </div>
        <div style="border-radius:15px;" class="col align-bottom bg-dark bg-gradient p-3 m-2 text-white">
            <label asp-for="COUNTY_ID"><b> County_ID:</b></label><br />
            <input asp-for="COUNTY_ID" type="number" />
        </div>
        <div style="border-radius:15px;" class="col align-bottom bg-dark bg-gradient p-3 m-2 text-white">
            <label asp-for="WORK_ZONE_RELATED"><b> Work Zone Related</b></label><br />
            <input asp-for="WORK_ZONE_RELATED" type="number" />
        </div>
        <div style="border-radius:15px;" class="col align-bottom bg-dark bg-gradient p-3 m-2 text-white">
            <label asp-for="PEDESTRIAN_INVOLVED"><b> Pedestrian Involved</b></label><br />
            <input asp-for="PEDESTRIAN_INVOLVED" type="number" />
        </div>
    </div>
    <div class="row">

        <div style="border-radius:15px;" class="col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="BICYCLIST_INVOLVED"><b> Bicyclist Involved</b></label><br />
            <input asp-for="BICYCLIST_INVOLVED" type="number" />
        </div>
        <div style="border-radius:15px;" class="col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="MOTORCYCLE_INVOLVED"><b> Motorcycle Involved</b></label><br />
            <input asp-for="MOTORCYCLE_INVOLVED" type="number" />
        </div>
        <div style="border-radius:15px;" class="col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="IMPROPER_RESTRAINT"><b> Improper Restraints</b></label><br />
            <input asp-for="IMPROPER_RESTRAINT" type="number" />
        </div>
        <div style="border-radius:15px;" class="col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="UNRESTRAINED"><b> Unrestrained</b></label><br />
            <input asp-for="UNRESTRAINED" type="number" />
        </div>
    </div>
    <div class="row">

        <div style="border-radius:15px;" class="col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="DUI"><b> DUI</b></label><br />
            <input asp-for="DUI" type="number" />
        </div>
        <div style="border-radius:15px;" class="col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="INTERSECTION_RELATED"><b> Intersection Related</b></label><br />
            <input asp-for="INTERSECTION_RELATED" type="number" />
        </div>
        <div style="border-radius:15px;" class="col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="WILD_ANIMAL_RELATED"><b> Wild Animal Involved</b></label><br />
            <input asp-for="WILD_ANIMAL_RELATED" type="number" />
        </div>
        <div style="border-radius:15px;" class="col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="DOMESTIC_ANIMAL_RELATED"><b> Domestic Animal Related</b></label><br />
            <input asp-for="DOMESTIC_ANIMAL_RELATED" type="number" />
        </div>
    </div>
    <div class="row">

        <div style="border-radius:15px;" class="col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="OVERTURN_ROLLOVER"><b> Overturn Rollover</b></label><br />
            <input asp-for="OVERTURN_ROLLOVER" type="number" />
        </div>
        <div style="border-radius:15px;" class="col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="COMMERCIAL_MOTOR_VEH_INVOLVED"><b> Commercial Motor Vehical Involved</b></label><br />
            <input asp-for="COMMERCIAL_MOTOR_VEH_INVOLVED" type="number" />
        </div>
        <div style="border-radius:15px;" class="col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="TEENAGE_DRIVER_INVOLVED"><b> Teenage Driver Involved</b></label><br />
            <input asp-for="TEENAGE_DRIVER_INVOLVED" type="number" />
        </div>
        <div style="border-radius:15px;" class="col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="OLDER_DRIVER_INVOLVED"><b> Older Driver Involved</b></label><br />
            <input asp-for="OLDER_DRIVER_INVOLVED" type="number" />
        </div>
    </div>
    @*<div class="row">


        </div>*@
    <div class="row">
        <div style="border-radius:15px;" class="col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="SINGLE_VEHICLE"><b> Single Vehical Involved</b></label><br />
            <input asp-for="SINGLE_VEHICLE" type="number" />
        </div>
        <div style="border-radius:15px;" class="col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="DISTRACTED_DRIVING"><b> Distracted Driving</b></label><br />
            <input asp-for="DISTRACTED_DRIVING" type="number" />
        </div>
        <div style="border-radius:15px;" class="col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="DROWSY_DRIVING"><b> Drowsy Driving</b></label><br />
            <input asp-for="DROWSY_DRIVING" type="number" />
        </div>
        <div style="border-radius:15px;" class="col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="ROADWAY_DEPARTURE"><b> Roadway Departure</b></label><br />
            <input asp-for="ROADWAY_DEPARTURE" type="number" />
        </div>
        <div style="border-radius:15px;" class="col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="NIGHT_DARK_CONDITION"><b> Night/Dark Time</b></label><br />
            <input asp-for="NIGHT_DARK_CONDITION" type="number" />
        </div>
        @*<div style="border-radius:15px;" class="col align-bottom p-3 m-2">
            </div>*@
    </div>
    <button class="btn btn-success" type="submit">Submit</button>
</form>
