@{
    ViewData["Title"] = "Predictions";
}

@model CrashModel


<h1>Crash Severity Predictor <div style="border-radius:5px;" class="card float-right m-2 p-2"><h6 p-2">Key:<br /> 1 = No Injury <br />2 = Possible Injury <br />3 = Suspected Minor Injury <br />4 = Suspected Serious Injury <br />5 = Fatal</h6></div></h1>

<form method="post" style="border-radius:10px;" class="card text-center container shadow p-3 mb-5 bg-white rounded">
    <h3>Select all that apply</h3>
    <h3>Crash Severity Score: @Math.Round(@ViewBag.Prediction.PredictedValue)</h3>
    <div class="row">
        <input asp-for="CITY_ID" type="hidden" value="323" />
        <input asp-for="COUNTY_ID" type="hidden" value="18" />
        <input asp-for="MILEPOINT" type="hidden" value="4" />
        <div class="roundcorners col align-bottom bg-dark bg-gradient p-3 m-2 text-white">
            <label asp-for="HOUR"><b> Hour: </b></label><br />
            <select asp-for="HOUR">
                <option value="0">12:00 AM</option>
                <option value="1">1:00 AM</option>
                <option value="2">2:00 AM</option>
                <option value="3">3:00 AM</option>
                <option value="4">4:00 AM</option>
                <option value="5">5:00 AM</option>
                <option value="6">6:00 AM</option>
                <option value="7">7:00 AM</option>
                <option value="8">8:00 AM</option>
                <option value="9">9:00 AM</option>
                <option value="10">10:00 AM</option>
                <option value="11">11:00 AM</option>
                <option value="12">12:00 PM</option>
                <option value="13">1:00 PM</option>
                <option value="14">2:00 PM</option>
                <option value="15">3:00 PM</option>
                <option value="16">4:00 PM</option>
                <option value="17">5:00 PM</option>
                <option value="18">6:00 PM</option>
                <option value="19">7:00 PM</option>
                <option value="20">8:00 PM</option>
                <option value="21">9:00 PM</option>
                <option value="22">10:00 PM</option>
                <option value="23">11:00 PM</option>
            </select>
        </div>
        <div  class="roundcorners col align-bottom bg-dark bg-gradient p-3 m-2 text-white">
            <label asp-for="WEEKDAY"><b> Weekday: </b></label><br />
            <select asp-for="WEEKDAY">
                <option value="0">Sunday</option>
                <option value="1">Monday</option>
                <option value="2">Tuedsay</option>
                <option value="3">Wednesday</option>
                <option value="4">Thursday</option>
                <option value="5">Friday</option>
                <option value="6">Saturday</option>
            </select>
        </div>
        <div  class="roundcorners col align-bottom bg-dark bg-gradient p-3 m-2 text-white">
            <label asp-for="MONTH"><b> Month:</b></label><br />
            <select asp-for="MONTH">
                <option value="1.0">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div  class="roundcorners col align-bottom bg-dark bg-gradient p-3 m-2 text-white">
            <label asp-for="WORK_ZONE_RELATED"><b> Work Zone Related</b></label><br />
            <input asp-for="WORK_ZONE_RELATED" name="wzr" type="radio" class="d-none" value="0.0" checked />
            <input asp-for="WORK_ZONE_RELATED" name="wzr" type="radio" value="1.0" />
        </div>
        <div  class="roundcorners col align-bottom bg-dark bg-gradient p-3 m-2 text-white">
            <label asp-for="PEDESTRIAN_INVOLVED"><b> Pedestrian Involved</b></label><br />
            <input asp-for="PEDESTRIAN_INVOLVED" name="pi" type="radio" class="d-none" value="0.0" checked />
            <input asp-for="PEDESTRIAN_INVOLVED" name="pi" type="radio" value="1.0" />
        </div>
        <div  class="roundcorners col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="BICYCLIST_INVOLVED"><b> Bicyclist Involved</b></label><br />
            <input asp-for="BICYCLIST_INVOLVED" name="bi" type="radio" class="d-none" value="0.0" checked />
            <input asp-for="BICYCLIST_INVOLVED" name="bi" type="radio" value="1.0" />
        </div>
        <div  class="roundcorners col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="MOTORCYCLE_INVOLVED"><b> Motorcycle Involved</b></label><br />
            <input asp-for="MOTORCYCLE_INVOLVED" name="mi" type="radio" class="d-none" value="0.0" checked />
            <input asp-for="MOTORCYCLE_INVOLVED" name="mi" type="radio" value="1.0" />
        </div>
    </div>
    <div class="row">
        <div  class="roundcorners col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="IMPROPER_RESTRAINT"><b> Improper Restraints</b></label><br />
            <input asp-for="IMPROPER_RESTRAINT" name="ir" type="radio" class="d-none" value="0.0" checked />
            <input asp-for="IMPROPER_RESTRAINT" name="ir" type="radio" value="1.0" />
        </div>
        <div  class="roundcorners col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="UNRESTRAINED"><b> Unrestrained</b></label><br />
            <input asp-for="UNRESTRAINED" name="u" type="radio" class="d-none" value="0.0" checked />
            <input asp-for="UNRESTRAINED" name="u" type="radio" value="1.0" />
        </div>
        <div  class="roundcorners col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="DUI"><b> DUI</b></label><br />
            <input asp-for="DUI" name="dui" type="radio" class="d-none" value="0.0" checked />
            <input asp-for="DUI" name="dui" type="radio" value="1.0" />
        </div>
        <div  class="roundcorners col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="INTERSECTION_RELATED"><b> Intersection Related</b></label><br />
            <input asp-for="INTERSECTION_RELATED" name="intr" type="radio" class="d-none" value="0.0" checked />
            <input asp-for="INTERSECTION_RELATED" name="intr" type="radio" value="1.0" />
        </div>
    </div>
    <div class="row">
        <div  class="roundcorners col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="WILD_ANIMAL_RELATED"><b> Wild Animal Involved</b></label><br />
            <input asp-for="WILD_ANIMAL_RELATED" name="war" type="radio" class="d-none" value="0.0" checked />
            <input asp-for="WILD_ANIMAL_RELATED" name="war" type="radio" value="1.0" />
        </div>
        <div  class="roundcorners col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="DOMESTIC_ANIMAL_RELATED"><b> Domestic Animal Related</b></label><br />
            <input asp-for="DOMESTIC_ANIMAL_RELATED" name="dar" type="radio" class="d-none" value="0.0" checked />
            <input asp-for="DOMESTIC_ANIMAL_RELATED" name="dar" type="radio" value="1.0" />
        </div>
        <div  class="roundcorners col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="OVERTURN_ROLLOVER"><b> Overturn Rollover</b></label><br />
            <input asp-for="OVERTURN_ROLLOVER" name="or" type="radio" class="d-none" value="0.0" checked />
            <input asp-for="OVERTURN_ROLLOVER" name="or" type="radio" value="1.0" />
        </div>
        <div  class="roundcorners col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="COMMERCIAL_MOTOR_VEH_INVOLVED"><b> Commercial Motor Vehical Involved</b></label><br />
            <input asp-for="COMMERCIAL_MOTOR_VEH_INVOLVED" name="cmvi" type="radio" class="d-none" value="0.0" checked />
            <input asp-for="COMMERCIAL_MOTOR_VEH_INVOLVED" name="cmvi" type="radio" value="1.0" />
        </div>
    </div>
    <div class="row">
        <div  class="roundcorners col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="TEENAGE_DRIVER_INVOLVED"><b> Teenage Driver Involved</b></label><br />
            <input asp-for="TEENAGE_DRIVER_INVOLVED" name="tdi" type="radio" class="d-none" value="0.0" checked />
            <input asp-for="TEENAGE_DRIVER_INVOLVED" name="tdi" type="radio" value="1.0" />
        </div>
        <div  class="roundcorners col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="OLDER_DRIVER_INVOLVED"><b> Older Driver Involved</b></label><br />
            <input asp-for="OLDER_DRIVER_INVOLVED" name="odi" type="radio" class="d-none" value="0.0" checked />
            <input asp-for="OLDER_DRIVER_INVOLVED" name="odi" type="radio" value="1.0" />
        </div>
        <div  class="roundcorners col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="SINGLE_VEHICLE"><b> Single Vehical Involved</b></label><br />
            <input asp-for="SINGLE_VEHICLE" name="si" type="radio" class="d-none" value="0.0" checked />
            <input asp-for="SINGLE_VEHICLE" name="si" type="radio" value="1.0" />
        </div>
        <div  class="roundcorners col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="DISTRACTED_DRIVING"><b> Distracted Driving</b></label><br />
            <input asp-for="DISTRACTED_DRIVING" name="dr" type="radio" class="d-none" value="0.0" checked />
            <input asp-for="DISTRACTED_DRIVING" name="dr" type="radio" value="1.0" />
        </div>
    </div>
    <div class="row">
        <div  class="roundcorners col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="DROWSY_DRIVING"><b> Drowsy Driving</b></label><br />
            <input asp-for="DROWSY_DRIVING" name="dd" type="radio" class="d-none" value="0.0" checked />
            <input asp-for="DROWSY_DRIVING" name="dd" type="radio" value="1.0" />
        </div>
        <div  class="roundcorners col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="ROADWAY_DEPARTURE"><b> Roadway Departure</b></label><br />
            <input asp-for="ROADWAY_DEPARTURE" name="rd" type="radio" class="d-none" value="0.0" checked />
            <input asp-for="ROADWAY_DEPARTURE" name="pi" type="radio" value="1.0" />
        </div>
        <div  class="roundcorners col align-bottom bg-dark bg-gradient  p-3 m-2 text-white">
            <label asp-for="NIGHT_DARK_CONDITION"><b> Night/Dark Time</b></label><br />
            <input asp-for="NIGHT_DARK_CONDITION" name="ndc" type="radio" class="d-none" value="0.0" checked />
            <input asp-for="NIGHT_DARK_CONDITION" name="ndc" type="radio" value="1.0" />
        </div>
        <div  class="roundcorners col align-bottom p-3 m-2">
        </div>
    </div>
    <button class="roundcorners btn btn-success" type="submit">Submit</button>
</form>

<h2>To learn more about how we got these results see <a href="https://github.com/EVELYN-RYAN/UTCrashesML">UtahCrashes.</a></h2>
