/.vs/master/v16/.suo
.vs/Intex/v16/.suo
Intex/bin/Debug/netcoreapp3.1/Intex.dll
Intex/bin/Debug/netcoreapp3.1/Intex.deps.json
Intex/bin/Debug/netcoreapp3.1/Intex.dll
Intex/bin/Debug/netcoreapp3.1/Intex.pdb
Intex/bin/Debug/netcoreapp3.1/Intex.runtimeconfig.dev.json
Intex/bin/Debug/netcoreapp3.1/Intex.StaticWebAssets.xml
Intex/bin/Debug/netcoreapp3.1/Intex.Views.dll
Intex/bin/Debug/netcoreapp3.1/Intex.Views.pdb
Intex/bin/Debug/netcoreapp3.1/runtimes/ios/native/onnxruntime.xcframework/Info.plist
Intex/bin/Debug/netcoreapp3.1/runtimes/ios/native/onnxruntime.xcframework/ios-arm64/onnxruntime.framework/Headers/coreml_provider_factory.h
Intex/bin/Debug/netcoreapp3.1/runtimes/ios/native/onnxruntime.xcframework/ios-arm64/onnxruntime.framework/Headers/cpu_provider_factory.h
Intex/bin/Debug/netcoreapp3.1/runtimes/ios/native/onnxruntime.xcframework/ios-arm64/onnxruntime.framework/Headers/onnxruntime_c_api.h
Intex/bin/Debug/netcoreapp3.1/runtimes/ios/native/onnxruntime.xcframework/ios-arm64/onnxruntime.framework/Headers/onnxruntime_cxx_api.h
Intex/bin/Debug/netcoreapp3.1/runtimes/ios/native/onnxruntime.xcframework/ios-arm64/onnxruntime.framework/Headers/onnxruntime_cxx_inline.h
Intex/bin/Debug/netcoreapp3.1/runtimes/ios/native/onnxruntime.xcframework/ios-arm64/onnxruntime.framework/Info.plist
Intex/bin/Debug/netcoreapp3.1/runtimes/ios/native/onnxruntime.xcframework/ios-arm64_x86_64-simulator/onnxruntime.framework/Headers/coreml_provider_factory.h
Intex/bin/Debug/netcoreapp3.1/runtimes/ios/native/onnxruntime.xcframework/ios-arm64_x86_64-simulator/onnxruntime.framework/Headers/cpu_provider_factory.h
Intex/bin/Debug/netcoreapp3.1/runtimes/ios/native/onnxruntime.xcframework/ios-arm64_x86_64-simulator/onnxruntime.framework/Headers/onnxruntime_c_api.h
Intex/bin/Debug/netcoreapp3.1/runtimes/ios/native/onnxruntime.xcframework/ios-arm64_x86_64-simulator/onnxruntime.framework/Headers/onnxruntime_cxx_api.h
Intex/bin/Debug/netcoreapp3.1/runtimes/ios/native/onnxruntime.xcframework/ios-arm64_x86_64-simulator/onnxruntime.framework/Headers/onnxruntime_cxx_inline.h
Intex/bin/Debug/netcoreapp3.1/runtimes/ios/native/onnxruntime.xcframework/ios-arm64_x86_64-simulator/onnxruntime.framework/Info.plist
Intex/Intex.csproj
Intex/obj/Debug/netcoreapp3.1/Intex.AssemblyInfo.cs
Intex/obj/Debug/netcoreapp3.1/Intex.AssemblyInfoInputs.cache
Intex/obj/Debug/netcoreapp3.1/Intex.assets.cache
Intex/obj/Debug/netcoreapp3.1/Intex.csproj.AssemblyReference.cache
Intex/obj/Debug/netcoreapp3.1/Intex.csproj.CoreCompileInputs.cache
Intex/obj/Debug/netcoreapp3.1/Intex.csproj.FileListAbsolute.txt
Intex/obj/Debug/netcoreapp3.1/Intex.dll
Intex/obj/Debug/netcoreapp3.1/Intex.GeneratedMSBuildEditorConfig.editorconfig
Intex/obj/Debug/netcoreapp3.1/Intex.genruntimeconfig.cache
Intex/obj/Debug/netcoreapp3.1/Intex.MvcApplicationPartsAssemblyInfo.cs
Intex/obj/Debug/netcoreapp3.1/Intex.pdb
Intex/obj/Debug/netcoreapp3.1/Intex.RazorComponent.input.cache
Intex/obj/Debug/netcoreapp3.1/Intex.RazorCoreGenerate.cache
Intex/obj/Debug/netcoreapp3.1/Intex.Views.dll
Intex/obj/Debug/netcoreapp3.1/Intex.Views.pdb
Intex/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewImports.cshtml.g.cs
Intex/obj/Debug/netcoreapp3.1/Razor/Pages/Admin/_Imports.razor.g.cs
Intex/obj/Debug/netcoreapp3.1/Razor/Pages/Admin/AdminLayout.razor.g.cs
Intex/obj/Debug/netcoreapp3.1/Razor/Pages/Admin/Crashes.razor.g.cs
Intex/obj/Debug/netcoreapp3.1/Razor/Pages/Admin/Details.razor.g.cs
Intex/obj/Debug/netcoreapp3.1/Razor/Pages/Admin/Editor.razor.g.cs
Intex/obj/Debug/netcoreapp3.1/Razor/Pages/Admin/Index.cshtml.g.cs
Intex/obj/Debug/netcoreapp3.1/Razor/Pages/Admin/Routed.razor.g.cs
Intex/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
Intex/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
Intex/obj/Debug/netcoreapp3.1/Razor/Views/Account/Login.cshtml.g.cs
Intex/obj/Debug/netcoreapp3.1/Razor/Views/Home/Confirmation.cshtml.g.cs
Intex/obj/Debug/netcoreapp3.1/Razor/Views/Home/Details.cshtml.g.cs
Intex/obj/Debug/netcoreapp3.1/Razor/Views/Home/Graphs.cshtml.g.cs
Intex/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
Intex/obj/Debug/netcoreapp3.1/Razor/Views/Home/Predictor.cshtml.g.cs
Intex/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
Intex/obj/Debug/netcoreapp3.1/Razor/Views/Home/Summary.cshtml.g.cs
Intex/obj/Debug/netcoreapp3.1/Razor/Views/Inference/Score.cshtml.g.cs
Intex/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
Intex/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_LoginPartial.cshtml.g.cs
Intex/obj/Debug/netcoreapp3.1/Razor/Views/Shared/CrashesSummary.cshtml.g.cs
Intex/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
Intex/obj/Debug/netcoreapp3.1/RazorDeclaration/Intex.dll
Intex/obj/Debug/netcoreapp3.1/RazorDeclaration/Intex.pdb
Intex/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Admin/_Imports.razor.g.cs
Intex/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Admin/AdminLayout.razor.g.cs
Intex/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Admin/Crashes.razor.g.cs
Intex/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Admin/Details.razor.g.cs
Intex/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Admin/Editor.razor.g.cs
Intex/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Admin/Routed.razor.g.cs
Intex/obj/Debug/netcoreapp3.1/staticwebassets/Intex.StaticWebAssets.Manifest.cache
Intex/obj/Debug/netcoreapp3.1/staticwebassets/Intex.StaticWebAssets.xml
Intex/obj/Intex.csproj.nuget.dgspec.json
Intex/obj/Intex.csproj.nuget.g.props
Intex/obj/project.assets.json
Intex/obj/project.nuget.cache
