
@{
    ViewData["Title"] = "Graphs";
}

@*<div class="container-fluid bg-1">
            <h1 class="text-center" style="color: #5d5e60;font-family:sans-serif;">Graphs and Statistics</h1>
    </div>*@

@*<div class="container">
        <div class="header">
            <h1 class="display-3">Graphs and Statistics</h1>
            <p>
                based on latest Utah accident data.
            </p>
        </div>
    </div>*@

<header class="jumbotron jumbotron-fluid">
    <div class="container-fluid text-center">

        <h1 class="display-3">Graphs and Statistics</h1>
        <p class="lead pb-4">Based on Utah accident data from 2016-2020</p>
    </div>
</header>


<div class="container-fluid">
    <img src="~/img/accident frequency by date.jpg" />
    <p style="margin-left: auto; margin-right: auto; width: 750px">
        There is clearly an annual trend in accident frequency.
        Each year there is a spike in accidents during the winter months,
        with the lowest frequency of accidents during the spring.
        This is most likely attributable to the winter snowfall, making for
        more dangerous road conditions. In the spring the crash frequency
        decreases as the snow melts, and then increases again in the summer
        months due to high traffic volume.
    </p>
</div>
<hr />
<div class="container-fluid">
    <img src="~/img/crash severity by date.jpg" />
    <p style="margin-left: auto; margin-right: auto; width: 750px">
        Similar to accident frequency, crash severity seems to follow an annual trend.
        Only that it is completely the opposite, peaking in the summer months with lower values in the winter.
        This is probably due to the increase in driving speed and pedestrian activity during the summer months.
        Most accidents in winter months are mild collisions resulting from sliding on frozen roads.
    </p>
</div>

<hr />


<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <img src="~/img/crash factors.jpg" />
        </div>

        <div class="col-4">
            <p style="padding-top:110px">
                Here we have the factors that are associated with the most crashes in the dataset.
                The factor associated with the most crashes is "Nighttime", meaning that the crash
                occured in the night. The next two most prominent factors have to with age. Teen drivers account for a high
                number of crashes relative to the percentage of all drivers that are teenagers. An obvious modern problem
                is how to prevent distracted driving, as it also contributes to many accidents.
            </p>
        </div>
    </div>
</div>

<hr />

<div class="container-fluid">
    <div class="text-center">
        <ul style="color:cornflowerblue; font-size:30px; display:inline-block; text-align:left; font-family:'Microsoft Tai Le'">
            <li><p style="color: black;"><span style="font-weight: bolder; text-decoration: underline">40%</span> of fatal car accidents occur at night even though traffic is 60% lower</p></li>
            <li><p style="color: black;"><span style="font-weight: bolder; text-decoration: underline">28%</span> of accidents involve a teen driver despite accounting for 8% of drivers</p></li>
            <li><p style="color: black;">Distracted driving causes around  <span style="font-weight: bolder; text-decoration: underline">30 deaths</span> per year in Utah</p></li>
        </ul>
    </div>
</div>





@*<div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        Collapsible Group 1
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        Collapsible Group 2
                    </a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        Collapsible Group 3
                    </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.
                </div>
            </div>
        </div>
    </div>*@