@{
    ViewData["Title"] = "Home Page";
}



    <header class="jumbotron jumbotron-fluid stripe">
        <div class="container-fluid text-center">

            <h1 class="display-3">Think & Drive</h1>
            <p class="lead pb-4">Data driven decisions for you.</p>
            <p><a href="#learn-more" class="btn btn-primary btn-lg" role="button">Learn More</a></p>
        </div>
    </header>


    <div class="container">
        <h2 class="text-center">Our Mission: Lower High Speed Yeets</h2>

        <div>
            <br />
            <p>
                For years now, people have been getting yeeted from their cars at high speeds. Government agencies have been trying for years to lower
                driver fatalities in Utah with little success. Our team at Think & Drive has developed special data driven tools to help lawmakers make
                efficient and affective decisions in driving laws.
            </p>
        </div>
        <br />
        <br />
        <div class="home-pics1">
            <div class="home-pic1">
                <img src="~/img/car1.jpeg" />
            </div>
            <div class="home-pic1">
                <img src="~/img/car2.jpeg" />
            </div>
            <div class="home-pic1">
                <img src="~/img/car3.jpeg" />
            </div>
        </div>
        <br />
        <br />
        <hr />

        <section class="home-section" id="learn-more">
            <h2 class="text-right m-5">Analyze Our Graphs</h2>
            <div class="home-sec-container">
                <div class="section-pic">
                    <img src="~/img/crashed_light.jpeg" />
                </div>
                <p class="section-text">
                    For years now, people have been getting yeeted from their cars at high speeds. Government agencies have been trying for years to lower
                    driver fatalities in Utah with little success. Our team at Think & Drive has developed special data driven tools to help lawmakers make
                    efficient and affective decisions in driving laws.
                    <br />
                    <br />
                    <a asp-controller="Home" asp-action="Graphs" class="btn btn-primary" role="button">Go to Graphs</a>
                </p>
            </div>

        </section>
        <br />
        <br />
        <hr />

        <section class="home-section" >
            <h2 class="text-left m-5">View Public Crash Data</h2>
            <div class="home-sec-container" style="flex-direction: row-reverse;">
                <div class="section-pic">
                    <img src="~/img/car4.jpeg" />
                </div>
                <p class="section-text">
                    For years now, people have been getting yeeted from their cars at high speeds. Government agencies have been trying for years to lower
                    driver fatalities in Utah with little success. Our team at Think & Drive has developed special data driven tools to help lawmakers make
                    efficient and affective decisions in driving laws.
                    <br />
                    <br />
                    <a asp-controller="Home" asp-action="Summary" class="btn btn-primary" role="button">Go to Crash Data</a>
                </p>
            </div>

        </section>
        <br />
        <br />
        <hr />

        <section class="home-section">
            <h2 class="text-right m-5">Experiment With Our Predictor</h2>
            <div class="home-sec-container">
                <div class="section-pic">
                    <img src="~/img/car5.jpeg" />
                </div>
                <p class="section-text">
                    For years now, people have been getting yeeted from their cars at high speeds. Government agencies have been trying for years to lower
                    driver fatalities in Utah with little success. Our team at Think & Drive has developed special data driven tools to help lawmakers make
                    efficient and affective decisions in driving laws.
                    <br />
                    <br />
                    <a asp-controller="Home" asp-action="Predictor" class="btn btn-primary" role="button">Go to Predictor</a>
                </p>
            </div>

        </section>


    </div>

