@{
    ViewData["Title"] = "Home Page";
}

@model Crash

<header class="jumbotron jumbotron-fluid">
    <div class="container-fluid text-center">
        <h1 class="display-3">Think & Drive</h1>
        <p class="lead pb-4">Data driven decisions for you.</p>
        <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn More</a></p>
    </div>
</header>


<div class="container">
    
    <div>
        <h2 class="text-center">Our Mission: Lower High Speed Yeets</h2>
        <br />
        <p>For years now, people have been getting yeeted from their cars at high speeds. Government agencies have been trying for years to lower
        driver fatalities in Utah with little success. Our team at Think & Drive has developed special data driven tools to help lawmakers make
        efficient and affective decisions in driving laws.</p>
    </div>
</div>


<p>ID: @Model.CRASH_ID</p>
<p>DATE: @Model.CRASH_DATETIME</p>
<p>ROUTE: @Model.ROUTE</p>