body {
}


.bg-1 {
    background-color:white;
    color:dimgray
    
}


.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}


/*.specialList {

}

ul {
    list-style:armenian;
    font-size: 32px;*/ /* increases the bullet size,list-item font size */
/*}


ul li::before {*/
    /*content: "\2022";
    padding-right: 10px;*/
    /*color: blue;
}*/


/* List */

















