@inherits LayoutComponentBase
<div class="bg-info text-white p-2">
    <div class="container-fluid">
        <div class="row">
            <span class="navbar-brand ml-2">Think & Drive Admin</span>
            <a class="btn btn-primary" href="/account/logout">Log out</a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row p-2">
        <div class="col-3 d-grid">
            <div>
                <NavLink class="btn btn-outline btn-primary" href="/admin/crashes/create">Add Crash</NavLink>
            </div>
        </div>
        <div class="col">
            @Body
        </div>
    </div>
</div>
