@page "/admin"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@model Intex.Pages.Admin.IndexModel

@{
}

<!DOCTYPE html>

<html>

<head>
    <title>Think & Drive Admin</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />
</head>

<body>

    <component type="typeof(Intex.Pages.Admin.Routed)" render-mode="Server"/>
    <script src="/_framework/blazor.server.js"></script>

</body>

</html>